@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Geist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Force removal of gradients and transparent effects */
* {
  box-shadow: none !important;
  backdrop-filter: none !important;
  background-image: none !important;
}