@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0B0F19;
    /* Deep Slate/Midnight Blue */
    --foreground: #F8FAFC;
    /* Bright White */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Geist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}